body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
}

#page-content{
  position: relative;
}

.index-header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 67px;
  right: clamp(70px, 5vw, 122px);
}

.bt-sing-up {
  display: flex;
  align-items: baseline;
  gap: 35px;
}

.log-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.log-in-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px;
  width: 652px;
  height: 449px;
  text-align: center;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  gap: 40px;
}

#loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input{
  width: 406px;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 16px !important;
  font-size: 20px;
}

form input::placeholder{
  font-size: 20px;
  color: #D1D1D1;
}

form input:focus {
  border: none;
  outline: 2px solid #29ABE2;
}

.index-input{
  position: relative;
  width: 422px;
  cursor: pointer;
}

.index-input img {
  position: absolute;
  right: 16px;
  top: 24px;
  transform: translateY(-50%);
}

.login-buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding-bottom: 8px;
  margin-top: 30px;
}

button {
  width: 110px;
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
}

.buttons:hover {
  background-color: #29ABE2;;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#guestBtn:hover {
  border: 2px solid #29ABE2;;
  color: #29abe2;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.guest {
  border: 1px solid rgba(42, 54, 71, 1);
  background-color: white;
  width: 177px;
  height: 48px;
  color: #2a3647;
  font-weight: 700;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.login h1{
  font-size: 61px;
}

.divider {
  background-color: rgba(41, 171, 226, 1);
  height: 3px;
  width: 150px;
  border-radius: 30px;
}

.page-content-hidden {
  display: none;
  opacity: 0;
}

.logo-fly {
  width: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: flyToCorner 2s ease-out forwards;
  z-index: 1001;
}

@keyframes flyToCorner {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 67px;;
    left: 77px;
    transform: translate(0, 0);
  }
}

.legals-login {
  position: absolute;
  display: flex;
  gap: 18px;
  font-size: 16px;
  font-weight: 400;
  
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  cursor: pointer;
}

.legals-login a {
    text-decoration: none;
    color: #CDCDCD;
}

.legals-login a:hover {
  color: #29ABE2;
}


/*ovelay*/

 /* Overlay style */
    .modal-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.4);
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    .modal-overlay.active {
      display: flex;
    }

    .signup-container {
      background: white;
      border-radius: 16px;
      padding: 40px 30px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      position: relative;
      font-family: 'Inter', sans-serif;
      width: 598px;
      height: 630px;
    }

    .signup-container h1 {
      text-align: center;
      font-size: 61px;
      font-weight: 700;
      margin-bottom: 10px;
      
    }

    .underline {
      width: 150px;
      height: 3px;
      background-color: #0ea5e9;
      margin: 0 auto 30px auto;
      border-radius: 2px;
    }

    .signup-container input {
      width: 422px;
      padding: 12px;
      margin: 8px 0;
      border: 1px solid #e5e7eb;
      border-radius: 8px;
      font-size: 14px;
      height: 48px;
      display: flex;
      justify-content: center;
      margin-left: 70px;
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      margin: 15px 0;
      font-size: 14px;
    }

    .checkbox-container input {
      margin-right: 5px;
    width: 24px;
    height: 24px;
    margin-left: 150px;
    }

    .checkbox-container a {
      color: #0ea5e9;
      text-decoration: none;
    }

    .signup-button {
      width: 126px;
      height: 55px;
      background-color: #1e293b;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 8px;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
      margin-top: 10px;
      margin-left: 230px;
    }

    .close-modal {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 20px;
      color: #999;
      cursor: pointer;
    }