.content-add-task{
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: -webkit-fill-available;
}

h1{
    font-size: 61px;
    padding-bottom: 60px;
}

.bg-color{
    background-color: #091931;
}

.required-star{
    color: #FF001F;
}

.form-add-task{
    display: flex;
    font-size: 20px;
}

.form-add-task label{
    display: flex;
    padding-bottom: 8px;
    color: #2A3647;
}

.form-add-task input{
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 428px;
    height: 48px;
    padding-left: 16px;
    font-size: 20px;
    cursor: pointer;
}

.form-add-task input[type=text]:focus,
.form-add-task input[type=date]:focus,
.form-add-task textarea:focus{
    outline: 1px solid #29ABE2;
    outline-offset: -2px;
}

#description{
    width: 408px;
    height: 120px;
    padding: 18px 16px 18px 16px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

#description:focus{
    border: 1px solid #29ABE2;
}

.divider {
    background-color: #D1D1D1;
    width: 0.5px;
    margin: 0 24px;
}

.left-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.right-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.bt-add-task {
    display: flex;
    gap: 16px;
    padding: 0 3px 5px 3px;
}

.bt-add-task img{
    width: 24px;
}

.bt-container{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.required-info{
    display: flex;
}

#bt-clear{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 54px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    gap: 4px;
    color: #2A3647;
    font-size: 20px;
    cursor: pointer;
}

#bt-clear:hover{
    border: 2px solid #29ABE2;
    color: #29ABE2;
    fill: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

#bt-clear:hover img{
    content: url(/assets/icons/close_blue.svg);
}

#bt-create-task{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 56px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border-radius: 10px;
    gap: 4px;
    cursor: pointer;
}

#bt-create-task:hover{
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.error-message{
    color: #FF8190;
    font-size: 12px;
    width: 100%;
    font-family: 'Poppins', 'inter', sans-serif !important;
    padding-top: 4px;
    background-color: #f5f6f7;
}

.error-border{
    border: 1px solid #FF8190 !important;
}

input[type="date"] {
    appearance: none; /* Entfernt das Standard-Icon */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../assets/icons/add_task/calendar.svg') !important;
    background-repeat: no-repeat;
    background-position: right 16px center;
    cursor: pointer;
    box-sizing: border-box;
    width: 440px;
    padding-left: 16px;
    padding-right: 16px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

.required-info-mobil {
    display: none;
}

.overlay-create-feedback {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;
}

#task-created {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 74px;
    width: 312px;
    border-radius: 20px;
    background-color: #2A3647;
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    opacity: 0;
    left: 50%;
}

#task-created.move-in {
  animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideUp {
  from {
    bottom: -100px;
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    bottom: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

#task-created.move-out {
  animation: slideDown 0.3s ease-in forwards;
}

@keyframes slideDown {
  from {
    bottom: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    bottom: -100px;
    opacity: 0;
    transform: translateX(-50%);
  }
}