.input-menu{
    position: relative;
}

.input-menu img{
    position: absolute;
    width: 24px;
    right: 16px;
    top: 26px;
    transform: translateY(-50%);
}

.input-menu img:hover {
    background-color: #EEEEEE;
    border-radius: 50px;
    cursor: pointer;
}

.menu-drop-down {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 100ms ease-out, max-height 100ms ease-out;
}

.menu-drop-down img{
    cursor: pointer;
}

#menu-drop-down{
    height: 300px !important;
}

.scrollbar{
    max-height: 200px;
    overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
    width: 24px;
    background-color: #A8A8A8;
}

.scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 50px;
    border: 8px solid #ffffff;
}

.show {
    opacity: 1;
    max-height: 200px;
}
 
.menu-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    height: 48px;
    padding: 0 16px;
    margin: 1px 0;
}

.menu-option:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    cursor: pointer;
}

.bg-drop-down{
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.04);
    max-height: 336px;
}

.assigned-username{
    display: flex;
    align-items: center;
    gap: 16px;
}

.assigned-username img{
    width: 42px;
    height: 42px;
}

.button-transition{
    transition: all 100ms ease-out;
}

.button-transition:hover{
transform: translate3d(1px, -1px, 1px);
}

.bg-menu-option {
    background-color: #2A3647;
    border-radius: 10px;
    color: white;
}

.bg-menu-option:hover{
    background-color: #091931;
}

.selected-badge {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px;
}

#selected-contacts{
    display: flex;
    max-width: 440px;
    flex-wrap: wrap;
    padding-top: 8px;
    gap: 8px;
    background-color: #f5f6f7;
}

#selected-contacts img{
    width: 40px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 45px 
}

.category-menu {
    justify-content: left;
}

.category-colorpicker {
    -webkit-appearance: none;
    border: none !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    background: none;
    overflow: hidden;
    padding: 0 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.category-colorpicker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.category-colorpicker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.category-colorpicker::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}

.category-colorpicker:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#category-colorpicker {
    position: absolute;
    width: 24px;
    left: 12px;
    top: 24px;
    transform: translateY(-50%);
}

.category-select {
    box-sizing: border-box;
    width: 448px !important;
}

.category-select:focus{
    padding-left: 35px;
}

.category-select:not(:placeholder-shown){
    padding-left: 35px;
}

.hidden {
    display: none;
}