.piority{
    display: flex;
    gap: 16px;
    height: 65px;
}

.piority img{
    width: 20px;
}

.bt-piority{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 56px;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    gap: 8px;
}

.bt-piority:hover{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.bt-urgent{
    background-color: #FF3D00;
    color: white;
    box-shadow: none;
    font-size: 21px;
    font-weight: 700;
}

.bt-medium{
    background-color: #FFA800;
    color: white;
    box-shadow: none;
    font-size: 21px;
    font-weight: 700;
}

.bt-low{
    background-color: #7AE229;
    color: white;
    box-shadow: none;
    font-size: 21px;
    font-weight: 700;
}