@media (max-width: 1420px){
    .content-board {
        padding: 4% 1%;
    }
}

@media (max-width: 1300px){      
    .header-board h1 {
        font-size: 47px;
        padding-right: 15px;
    }

    .content {
        overflow-y: auto;
        width: 100%;
    }

    .content-board {
        padding: 30px 16px;
    }

    .board {
        gap: 0;
        overflow-y: auto !important;
    }

    .form-srollbar {
        padding-right: 0;
    }
    
    .header-board {
        padding-bottom: 30px;
        max-width: 900px;
    }

    .board {
        flex-direction: column;
    }

    .columns-content {
        display: flex;
        width: 100vh;
        margin-bottom: 20px;
    }

    .columns-scrollbar {
        overflow-x: auto;
    }

    .columns {
        width: fit-content;
        height: fit-content
    }

    .bg-overlay{
        height: 600px !important;
        padding: 24px 20px 24px 20px !important;
    }

    .bg-overlay h1{
        font-size: 47px;
        padding-bottom: 20px;
    }

    .divider {
        margin: 0 20px;
    }

    #close-overlay {
        top: 30px;
        right: 30px;
    }

    .tpl-no-task{
        width: 390px;
    }
}

@media (max-width: 1160px) {
    .header-board {
        justify-content: flex-start;
    } 

    .header-board h1{
        padding-right: 2%;
    }
}

@media (max-width: 1160px) {
    .header-board {
        justify-content: flex-start;
        display: contents;
    } 
}

@media (max-width: 520px) {
    .content {
        max-height: 100% !important;
        position: relative;
    }

    .content-board {
        padding-top: 13px !important;
        height: 100%;
        padding-left: 8px;
    }

    .header-board {
        flex-direction: column;
        align-items: start;
        padding-bottom: 60px;
    }

    #bt-add-task {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 16px;
        top: 20px;
    }

    #bt-add-task p {
        display: none;
    }

    .content-select-task {
        padding: 20px 10px 30px 10px !important;
        width: clamp(250px, 85vw, 400px);
        gap: 16px;
    }

    .content-select-task p {
        font-size: 16px;
    }

    .select-tk-title {
        font-size: 36px !important;
    }

    #close-overlay-select-task {
        top: 20px;
        right: 20px;
    }

    .bts-select-task {
        bottom: 20px;
        right: 20px;
    }

    .form-task-edit input {
        width: 376px !important;
        height: 40px;
        font-size: 16px;
    }

    .form-task-edit input[type=text]{
        width: 356px !important;
        height: 40px;
        font-size: 16px;
    }

    .form-task-edit textarea {
        width: 342px !important;
        font-size: 16px !important;
    }

    form {
        padding-right: 5px;
        font-size: 16px;
    }

    .priority {
       width: 396px;
       height: 48px;
       gap: 1px;
    }

    .bt-priority {
        width: 100px;
        height: 41px;
    }
}

@media (max-width: 460px) {
    .content-task-edit {
        padding: 20px 5px 70px 5px !important;
        width: clamp(250px, 95vw, 400px)  !important;
        gap: 16px;
        
    }

    .content-task-edit .form-scrollbar{
        align-items: center !important;
        margin: 0 auto;
    }

    .form-task-edit{
        gap: 10px;  
    }

    .form-task-edit input {
        width: 310px !important;
    }

    .form-task-edit input[type=text]{
        width: 290px !important;
    }

    .form-task-edit textarea {
        width: 276px !important;
    }

    .form-scrollbar {
        width: 325px;
        scrollbar-width: none !important;
    }

    .priority {
       width: 310px;
    }

    ul {
        width: 310px;
    }

    .list-subtask {
        padding: 0 !important;
    }
}
