@media (max-width: 1420px){
    .content-board {
        padding: 4% 1%;
    }
}

@media (max-width: 1300px){      
    .header-board h1 {
        font-size: 47px;
        padding-right: 15px;
    }

    .content {
        overflow-y: auto;
        width: 100%;
    }

    .content-board {
        padding: 30px 16px;
    }

    .board {
        gap: 0;
        overflow-y: auto !important;
    }

    .form-srollbar {
        padding-right: 0;
    }
    
    .header-board {
        padding-bottom: 30px;
        max-width: 900px;
    }

    .board {
        flex-direction: column;
    }

    .columns-content {
        display: flex;
        width: 100vh;
        margin-bottom: 20px;
    }

    .columns-scrollbar {
        overflow-x: auto;
    }

    .columns {
        width: fit-content;
        height: fit-content
    }

    .bg-overlay{
        height: 600px !important;
        padding: 24px 20px 24px 20px !important;
    }

    .bg-overlay h1{
        font-size: 47px;
        padding-bottom: 20px;
    }

    .divider {
        margin: 0 20px;
    }

    #close-overlay {
        top: 30px;
        right: 30px;
    }

    .tpl-no-task{
        width: 390px;
    }
}

@media (max-width: 1160px) {
    .header-board {
        justify-content: flex-start;
    } 

    .header-board h1{
        padding-right: 2%;
    }
}

@media (max-width: 1160px) {
    .header-board {
        justify-content: flex-start;
        display: contents;
    } 
}

@media (max-width: 520px) {
    .content {
        max-height: 100% !important;
        position: relative;
    }

    .content-board {
        padding-top: 13px !important;
        height: 100%;
        padding-left: 8px;
    }

    .header-board {
        flex-direction: column;
        align-items: start;
        padding-bottom: 60px;
    }

    #bt-add-task {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 16px;
        top: 20px;
    }

    #bt-add-task p {
        display: none;
    }
}