.tpl-no-task{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E7E7;
    height: 48px;
    border: 1px dashed rgba(168, 168, 168, 0.6);
    border-radius: 10px;
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.card-no-task{
    margin: 10px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 252px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    margin: 10px;
}

.tpl-progress{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 24px;
    gap: 10px;
    padding: 16px;
}

.card-category {
    display: flex;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.card-category p {
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    height: 27px;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-title {
    color: #2A3647;
    font-size: 16px;
    font-weight: 700;
}

.card-description{
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.card-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px
}

.progress-bar {
    height: 8px;
    width: 128px;
    border-radius: 8px;
    background-color: #F4F4F4;
}

.card-subtasks{
    font-size: 12px;
    font-weight: 400;
    padding-right: 8px;
}

.card-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.card-badges{
    display: flex;
    /* position: absolute; */
    gap: 0px;
}

.card-badges img {
    width: 36px;
}