.content-task-edit{
    width: 465px;
    padding: 30px 20px 70px 40px !important;
}

.form-task-edit {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    gap: 24px;
}

.form-scrollbar{
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #A8A8A8 transparent;
    position: relative;
    z-index: 1;
    padding-right: 10px;
}

.form-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .form-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
  
.form-scrollbar::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 3px;
    border: 8px solid #a8a8a8;
    background-clip: content-box;
}

.form-task-edit label{
    display: flex;
    padding-bottom: 8px;
    color: #2A3647;
}


.form-task-edit input{
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 445px;
    height: 48px;
    padding-left: 16px;
    font-size: 20px;
    cursor: pointer;
}

.form-task-edit input[type=text] {
    width: 425px !important;
}

.category-select {
    width: 445px !important;
}

.form-task-edit input[type=text]:focus,
.form-task-edit input[type=date]:focus,
.form-task-edit textarea:focus{
    outline: 1px solid #29ABE2;
    outline-offset: -2px;
}

.input-menu {
    position: relative;
}

.input-menu img {
    position: absolute;
    width: 24px;
    right: 16px;
    top: 26px;
    transform: translateY(-50%);
}

#bt-edit{
    position: absolute;
    right: 40px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 57px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border-radius: 10px;
    gap: 4px;
    cursor: pointer;
}

#bt-edit:hover{
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.close-task-edit {
    top: 20px !important;
}

.edit-selected-contacts img {
    border: 0px;
    border-radius: 0px;
}