.right-side{
    position: relative;
}

.content-help{
    padding: 0 80px;
    display: flex;
}

.help-informations{
    padding-top: 110px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #A8A8A8 transparent;
}

.help-informations a{
    text-decoration: none;
    color: #29ABE2;
}

.help-informations p{
    padding-bottom: 16px;
}

h1{
    font-size: 61px;
    padding-bottom: 32px;
}

h2 {
    font-size: 27px;
    font-weight: 700;
    padding-bottom: 16px;
}

h4{
    font-size: 20px;
}

.arrow {
    position: absolute;
    right: 80px;
    top: 225px;
}

.number{
    font-size: 27px;
    font-weight: 700;
    padding-right: 35px;
    vertical-align: top;
}

@media (min-width: 769px) {
    .help-informations::-webkit-scrollbar {
        display: none;
    }

    .help-informations {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .help-informations::-webkit-scrollbar-thumb {
        background-color: #A8A8A8;
        border: 4px solid #A8A8A8;
        border-radius: 3px;
        max-height: 10px !important;
    }
}

@media (max-width: 768px){
    .content-help {
        padding: 0 16px;
    }

    .arrow {
        right: 30px;
        top: 140px;
    }

    .help-informations {
        padding-top: 50px;
        padding: 0 8px;
    }
}

@media (max-width: 425px){
    .content-help {
        padding: 0 4px;
    }

    .arrow {
        right: 16px;
    }

    .help-informations {
        padding-top: 40px;
    }
}