body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
}

.index-header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 80px;
  left: 77px;
  right: 77px;
}

.bt-sing-up {
  display: flex;
  align-items: baseline;
  gap: 35px;
}

.log-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.log-in-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px;
  width: 652px;
  height: 449px;
  text-align: center;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

form input {
  width: 422px;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding-left: 16px;
}

form input:focus {
  outline: 1px solid #29abe2;
  outline-offset: -2px;
}

.login-buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding-bottom: 8px;
}

button {
  width: 110px;
  height: 48px;
  border-radius: 8px;
  margin-top: 30px;
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
}

.buttons:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#guestBtn:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
  background-color: white;
}

.guest {
  background-color: white;
  width: 177px;
  height: 48px;
  color: #2a3647;
  font-weight: 700;
}

.login {
  border-bottom: 3px solid #31a3ef;
  padding-bottom: 10px;
  margin-bottom: 20px;
  height: 89px;
  width: 315px;
}

.page-content-hidden {
  display: none;
  opacity: 0;
}

.logo-fly {
  width: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: flyToCorner 2s ease-out forwards;
  z-index: 1001;
}

@keyframes flyToCorner {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 80px;
    left: 77px;
    transform: translate(0, 0);
  }
}




