.log-in-card{
    border-radius: 30px;
    width: 652px;
    height: 449px;
    font-family: Inter;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
display: flex;    
}

#email{
    width: 422px;
    height: 48px;
    border-radius: 15px;
    border: 1px solid rgba(209, 209, 209, 1);
    gap: 20px;
    margin-bottom: 20px;
    background-image: url('/assets/icons/email_input.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    box-shadow: none;
}

#password{
    width: 422px;
    height: 48px;
    border-radius: 15px;
    border: 1px solid rgba(209, 209, 209, 1);
    background-image: url('/assets/icons/password_input.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

button{
    width: 110px;
    height: 48px;
    border-radius: 8px;
    margin-left: 40px;
    margin-top: 30px;
    background-color: rgba(42,54,71,1);
    color: rgba(255, 255, 255, 1);
    font-size: 21px;
    font-weight: 700;
  
}
.guest{
    background-color: white;
    width: 177px;
    height: 48px;
    margin-top: 30px;
    color: rgba(42, 54, 71, 1);
    font-weight: 700;
}

h1{
    font-size: 61px;
    color: rgba(0,0,0,1);
    font-family: inter;
    background-image: url('/assets/icons/Vector\ 5.svg');
    background-image: rgba(41, 171, 226, 1);
    background-repeat: no-repeat;
    background-position: 25% 100%;
    

}



