.content-legals{
    display: flex;
}

.legal-notice {
    padding-top: 60px;
    overflow-y: auto;
    padding: 0 80px;
    scrollbar-width: thin;
    scrollbar-color: #A8A8A8 transparent;
}

.legal-notice h1{
    padding-bottom: 35px;
}

.legal-notice div{
    padding-bottom: 10px;
}

.privacy-policy{
    padding-top: 60px; 
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.privacy-policy h3,
.privacy-policy h4,
.privacy-policy li {
    padding: 10px 0;
}

.content-legals a{
    text-decoration: none;
    color: #29ABE2;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

h2 {
    font-size: 27px;
    font-weight: 700;
    padding-bottom: 10px;
}

@media (min-width: 769px) {
    .legal-notice::-webkit-scrollbar {
        display: none;
    }

    .legal-notice {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

@media (max-width: 768px){
    .content-legals {
        padding: 0 8px;
    }

    .legal-notice {
        padding: 0 30px;
    }

    .legal-notice::-webkit-scrollbar-thumb {
        background-color: #A8A8A8;
        border: 4px solid #A8A8A8;
        border-radius: 3px;
        max-height: 10px !important;
    }
}

@media (max-width: 425px){
    .legal-notice {
        padding: 0 16px;
    }
}