header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    padding: 0 40px 0 100px;
    background-color: #FFFFFF;
}

.join{
    color:rgba(41, 171, 226, 1);
}

h1{

    font-size: 61px;
    margin-bottom: 32px;
}

p{
    font-size: 16px;

}

h2{
    font-size: 24px;
    gap: 16px;
}

.edit-right{
    margin-left: 96px;
    margin-top: 110px;
}

